remix.s3mediamanager.com {
        encode zstd gzip
        templates
        file_server browse 
        header CORS-Header Access-Control-Allow-Origin "*"
}

localhost {
	encode zstd gzip
	templates
	file_server browse
        header CORS-Header Access-Control-Allow-Origin "*"

}

:8080 {
	respond "I am 8080"
}

:8081 {
	respond "I am 8081"
}

:80 {
        encode zstd gzip
        templates
        file_server browse
        header CORS-Header Access-Control-Allow-Origin "*"
}

